body {
    margin: 0px;
    padding: 0px;
    
}
#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #45567d;
}

#projects a {
    /* padding: 0px 10px 0px 10px; */
    border-radius: 3px ;
    text-decoration: none;
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
}
#projects p {
    margin: 0;
}
#projects img {
    display: block;
    object-fit: cover;
    margin: 0;
    width: 100%;
    height: calc(100% - 6.8rem);
}
.project-tile {
    padding: 1.3em;
    
}

.project-title {
    background-color: #303841;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    color: aliceblue;
    padding: 1em;
}
.span-three {
    grid-column: span 3;
    text-align: center;
}
#projects h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: aliceblue;
}
#navbar {
    position: fixed;
    /* display: inline-block; */
    /* display: block; */
    top: 0px;
    width: 100%;
    background-color: #be3144;
    height: auto;
    padding: 0px;
}
#navbar div {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: auto;
    float: right;
    padding: 1.2em;
}

#navbar a {
    /* float: right; */
    /* display: inline; */
    /* display: block; */
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
#navbar a:hover {
    background-color: hsl(211, 50%,40%);
    opacity: 0.9;
}

#welcome-section {
    height: 100vh;
    /* background: linear-gradient(45deg,rgb(43, 42, 42), rgb(3, 3, 3) ); */
    background-color: #000;
    background-image : linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
#welcome-section h1{
    font-size: 3.5em;
}
#welcome-section p{
    font-size: 1.5em;
    font-weight: 100;
    font-style: italic;
    color: #be3144;
}
@media (max-width:800px)
{
    #projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}