body {
    margin: 0px;
    padding: 0px;
    --main-gray:#303841;
    --main-blue:#45567d;
    --main-red:#be3144;
    --grid-columns: 3;
    --text-link-color: aliceblue;
    --text-link-hover-color:#e2ba48;
    /* display: block; */
}
#projects {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    /* grid-template-columns: 2fr 1fr 1fr; */
    background: var(--main-blue);
    /* height: 100%; */

}


#projects p {
    margin: 0;
}
#projects img {
    display: block;
    object-fit: cover;
    margin: 0;
    width: 100%;
    height: calc(100% - 6.8rem);
}
.project-tile {
    padding: 1.3em;
    /* background: #000; */
    /* background-color: transparent; */
}

.project-title {
    background-color: var(--main-gray);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    color: aliceblue;
    padding: 1em;
}
#projects a {
    /* padding: 0px 10px 0px 10px; */
    /* border-radius: 3px ; */
    /* background-color:#000; */
    /* z-index: 0; */
    /* color: #000; */
    text-decoration: none;
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
}
.span-three {
    grid-column: span var(--grid-columns);
    text-align: center;
}
#projects h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: aliceblue;
}
#navbar {
    position: fixed;
    /* display: inline-block; */
    /* display: block; */
    top: 0px;
    width: 100%;
    background-color: var(--main-red);
    height: auto;
    padding: 0px;
}
#navbar div {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: auto;
    float: right;
    padding: 1.2em;
}

#navbar a {
    /* float: right; */
    /* display: inline; */
    /* display: block; */
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
#navbar a:hover {
    background-color: var(--main-blue);
    opacity: 0.9;
}

#welcome-section {
    height: 100vh;
    /* background: linear-gradient(45deg,rgb(43, 42, 42), rgb(3, 3, 3) ); */
    background-color: #000;
    background-image : linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
#welcome-section h1{
    font-size: 3.5em;
}
#welcome-section p{
    font-size: 1.5em;
    font-weight: 100;
    font-style: italic;
    color: var(--main-red);
}
#contact {
    
    /* margin: 0; */
    /* margin-top: -20px; */
    /* height: 100%; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:25px ;

}

footer {
    background: var(--main-gray);
}
footer a{
    text-decoration: none;
    color: var(--text-link-color);
}
#footer {
    justify-content: center;
    text-align: center;
    color: aliceblue;
    padding: 10px;

}
#footer a {
    
}
/* #contact a {
    text-decoration: none;
    color: var(--text-link-color);
} */
#contact a:hover {
    color: var(--text-link-hover-color);
}
#contact-container-1, #contact-container-3 {
    padding-left: 75px;
    margin-top: 45px;
    
}
#contact-grid-2 {
    /* height: 25vh; */
    border-style: dashed;
    border-top: none;
    border-bottom: none;
    border-width: thin;
    /* opacity: 0.5; */
    border-color: rgb(144, 155, 165);
}

#contact-list {
    /* padding-left: 100px; */
    padding-left: 1em;
}
#contact-list li {
    padding-bottom: 10px;
}
#contact-container-2 {
    text-align: center;
    /* border-style: dashed; */
    /* border */
    
    
    /* height: 100%; */
}
#contact-container-1 {
    /* border-left: none; */

}

#contact-container-3 {
    /* border-right: none; */
}
#contact-container-2 p {
    margin: 0;
}
#contact-container-2 h1{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 3em;
    margin-bottom: 10px;
    
    /* margin-top:0; */
}



@media (max-width:800px)
{
    #projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

