#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info:invalid {
    box-shadow: 0 0 5px 1px red;
}